.App {
    overflow: hidden;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.link-wrapper {
    display: flex;
}

.link-wrapper a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.logout {
    cursor: pointer;
}

.input-multiline {
}

.input-multiline-btns {
    display: flex;
    justify-content: flex-end;
}

.text-multiline {
    min-height: 40px;
    font-size: 18px;
    margin-left: 48px;
}
.text-multiline pre {
    margin: 0;
    line-height: 40px;
    white-space: pre-line;
}

/* 骨架屏样式 */
.skeleton {

}

.skeleton .skeleton-head,
.skeleton .skeleton-title,
.skeleton .skeleton-content {
    background: rgb(194, 207, 214);
}

.skeleton-head {
    width: 100px;
    height: 100px;
    float: left;
}

.skeleton-body {
    margin-left: 110px;
}

.skeleton-title {
    width: 500px;
    height: 60px;
}

.skeleton-content {
    width: 100%;
    max-width: 480px;
    height: 120px;
    margin: 10px auto 0;
}
.skeleton .skeleton-head,
.skeleton .skeleton-title,
.skeleton .skeleton-content {
    background: rgb(194, 207, 214);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%);
    background-size: 20rem 20rem;
    animation: skeleton-stripes 1s linear infinite;
}

@keyframes skeleton-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20rem 0;
    }
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
}


/* 悬浮按钮样式 */
.btn-feb {
    position: fixed !important;
    z-index: 10;
}

.btn-feb-create {
    right: 20px;
    bottom: 20px;
}

.btn-feb-save {
    left: 20px;
    bottom: 20px;
}
